{% extends 'movies/base.html' %}

{% block title %}{{ view.title }}{% endblock %}

{% block content %}
<div class="my-4">
    <h1 class="h3">{{ view.title }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Название</label>
            {{ form.title }}
            {% if form.title.errors %}
                <div class="text-danger">{{ form.title.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Описание</label>
            {{ form.description }}
            {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.year.id_for_label }}">Год выпуска</label>
            {{ form.year }}
            {% if form.year.errors %}
                <div class="text-danger">{{ form.year.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.director.id_for_label }}">Режиссер</label>
            {{ form.director }}
            {% if form.director.errors %}
                <div class="text-danger">{{ form.director.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.genre.id_for_label }}">Жанр</label>
            {{ form.genre }}
            {% if form.genre.errors %}
                <div class="text-danger">{{ form.genre.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.poster.id_for_label }}">Постер</label>
            {{ form.poster }}
            {% if form.poster.errors %}
                <div class="text-danger">{{ form.poster.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'movie_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
